// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  h1 {
    margin: 0px;
  }
  margin-bottom: 6px;
  .auth{
    margin-top: 24px;
    text-align: right;
    .signout {
      border-bottom: 1px #eee dashed;
      color: red;
    }
  }
}
.footer {
  text-align: right;
  border-top: 2px #eaeaea solid;
}
.snippet-details {
  .show-for-large-up {
    color: forestgreen;
    font-weight: bolder;
  }
}
.code_block {
  border: solid 1px #CCC;
  background-color: #f2f2f2;
  pre {
    margin: 5px 5px;
  }
}
