// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  h1 {
    margin: 0px;
  }
  margin-bottom: 6px;
  .auth{
    margin-top: 24px;
    text-align: right;
  }
}
.footer {
  text-align: right;
  border-top: 2px #eaeaea solid;
}
