.row
  .header
    .small-7.small-push-5.columns
      .auth
        -if signed_in?
          Welcome
          = current_user.name + ", "
          =link_to "Sign Out"
        - else
          =link_to "Sign in with GitHub", "/auth/github"
    .small-5.small-pull-7.columns
      %h1 Paste
  %hr

