.row
  .header
    .small-9.small-push-3.columns
      .auth
        -if signed_in?
          Welcome
          = link_to(current_user.name, current_user) + ","
          =link_to "Sign Out", signout_path, class: 'signout', method: :delete
        - else
          =link_to "Sign in with GitHub", new_session_path
    .small-3.small-pull-9.columns
      %h1=link_to "Paste", root_url
  %hr

